body{

	background-color: white;
}

div.dscrptform{

	padding-left: 150px;
	width: 3px;
	float: left;
	clear: right;

}
div.prcform {

	padding-left: 400px;
	padding-top: 0px;
	
}

div.form{
	border: 2px solid;
	border-radius: 5px;
	position: relative;
	width: 700px;
	height: 300px;
	left: 200px;
}

div.submit{

padding-left: 600px;

}

